# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# Google tokens
token.json
client_secret*.json

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log